# IDE Configuration Files
.idea
.idea_modules/
.vscode

# Python Environment Files
.venv/
venv/
__pycache__/
pypresence/__pycache__/

# Packaging
build/
nyaaa/

*.egg-info/
.mypy_cache/

# xmk and properties
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties

# Other
*.iml
*.ipr
*.iws
/out/
test.py
